In [186]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import json
import re
import expand_dataset

In [162]:
# df_business = pd.read_csv('./dataset/df_business.csv')
df_business = pd.read_csv('./dataset/df_business_hours.csv')
df_checkin = pd.read_csv('./dataset/df_checkin.csv')
df_tip = pd.read_csv('./dataset/df_tip.csv')

In [163]:
print(len(df_business))
df_business.head(5)

114120

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,address,attributes,business_id,...,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,8:0-18:30,0:0-0:0,8:0-14:0,NaN,8:0-18:30,8:0-18:30,8:0-18:30,87 Grasso Plaza Shopping Center,{'BusinessAcceptsCreditCards': 'True'},mpf3x-BjTdTEA3yCZrAYPw,...,Affton,"{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...",1,38.551126,-90.335695,The UPS Store,63123,15,3.0,MO
1,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,...,Tucson,"{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...",0,32.223236,-110.880452,Target,85711,22,3.5,AZ
2,7:0-21:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-20:0,7:0-20:0,7:0-20:0,935 Race St,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",MTSW4McQd7CbVtyjqoe9mw,...,Philadelphia,"{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",1,39.955505,-75.155564,St Honore Pastries,19107,80,4.0,PA
3,12:0-22:0,NaN,12:0-22:0,12:0-18:0,16:0-22:0,NaN,14:0-22:0,101 Walnut St,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...",mWMc6_wTdE0EUBKIGXDVfA,...,Green Lane,"{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...",1,40.338183,-75.471659,Perkiomen Valley Brewery,18054,13,4.5,PA
4,9:0-0:0,0:0-0:0,9:0-22:0,8:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,615 S Main St,"{'BusinessParking': 'None', 'BusinessAcceptsCr...",CF33F8-E6oudUQ46HnavjQ,...,Ashland City,"{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...",1,36.269593,-87.058943,Sonic Drive-In,37015,6,2.0,TN

In [164]:
df_business = df_business.dropna()

In [165]:
# df_business = df_business.apply(expand_dataset.expand_hours_feature, axis=1)
#
# df_business.head(5)

In [166]:
# df_business.to_csv(r'C:\Users\giuli\Desktop\df_business_hours.csv', index=False)

In [167]:
df_business = df_business.drop(columns='hours')
df_business.head(5)

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,address,attributes,business_id,categories,city,is_open,latitude,longitude,name,postal_code,review_count,stars,state
1,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,"Department Stores, Shopping, Fashion, Home & G...",Tucson,0,32.223236,-110.880452,Target,85711,22,3.5,AZ
2,7:0-21:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-20:0,7:0-20:0,7:0-20:0,935 Race St,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",MTSW4McQd7CbVtyjqoe9mw,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",Philadelphia,1,39.955505,-75.155564,St Honore Pastries,19107,80,4.0,PA
4,9:0-0:0,0:0-0:0,9:0-22:0,8:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,615 S Main St,"{'BusinessParking': 'None', 'BusinessAcceptsCr...",CF33F8-E6oudUQ46HnavjQ,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",Ashland City,1,36.269593,-87.058943,Sonic Drive-In,37015,6,2.0,TN
5,10:0-18:0,0:0-0:0,10:0-18:0,12:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,"8522 Eager Road, Dierbergs Brentwood Point","{'BusinessAcceptsCreditCards': 'True', 'Restau...",n_0UpQx1hsNbnPUSlodU8w,"Sporting Goods, Fashion, Shoe Stores, Shopping...",Brentwood,1,38.627695,-90.340465,Famous Footwear,63144,13,2.5,MO
6,6:0-16:0,0:0-0:0,6:0-17:0,6:0-21:0,6:0-16:0,6:0-21:0,6:0-21:0,2312 Dickerson Pike,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...",bBDDEgkFA1Otx9Lfe7BZUQ,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",Nashville,1,36.208102,-86.768170,Sonic Drive-In,37207,10,1.5,TN

In [188]:
def expand(row, dict):
    for key, values in dict.items():
        row[key] = values
    return row

def expand_attributes_feature(row):
    print(row["attributes"])
    string_replaced = row["attributes"].replace("'", '"')
    string_replaced = re.sub('u"no"',"u-no", string_replaced) # Risolvere anche BusinessParking (dict dentro dict)
    print(string_replaced)
    return expand(row, json.loads(string_replaced))

def my_replace(m):
    print(m)

In [189]:
test = df_business.apply(expand_attributes_feature, axis=1)

test.head(5)

# Problema feature "WIfi"

{'BikeParking': 'True', 'BusinessAcceptsCreditCards': 'True', 'RestaurantsPriceRange2': '2', 'CoatCheck': 'False', 'RestaurantsTakeOut': 'False', 'RestaurantsDelivery': 'False', 'Caters': 'False', 'WiFi': "u'no'", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'WheelchairAccessible': 'True', 'HappyHour': 'False', 'OutdoorSeating': 'False', 'HasTV': 'False', 'RestaurantsReservations': 'False', 'DogsAllowed': 'False', 'ByAppointmentOnly': 'False'}
{"BikeParking": "True", "BusinessAcceptsCreditCards": "True", "RestaurantsPriceRange2": "2", "CoatCheck": "False", "RestaurantsTakeOut": "False", "RestaurantsDelivery": "False", "Caters": "False", "WiFi": "u-no", "BusinessParking": "{"garage": False, "street": False, "validated": False, "lot": True, "valet": False}", "WheelchairAccessible": "True", "HappyHour": "False", "OutdoorSeating": "False", "HasTV": "False", "RestaurantsReservations": "False", "DogsAllowed": "False", "ByAppointmentOnly": "False"}

JSONDecodeError: Expecting ',' delimiter: line 1 column 236 (char 235)

In [150]:
print(len(df_checkin))
df_checkin.head(5)

131930

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [134]:
print(len(df_tip))
df_tip.head(5)

908915

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [135]:
df_business_merged = pd.merge(df_business, df_checkin, on='business_id')

In [136]:
print(len(df_business_merged))
df_business_merged.head(5)

62755

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,address,attributes,business_id,...,city,is_open,latitude,longitude,name,postal_code,review_count,stars,state,date
0,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,...,Tucson,0,32.223236,-110.880452,Target,85711,22,3.5,AZ,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010..."
1,7:0-21:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-20:0,7:0-20:0,7:0-20:0,935 Race St,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...",MTSW4McQd7CbVtyjqoe9mw,...,Philadelphia,1,39.955505,-75.155564,St Honore Pastries,19107,80,4.0,PA,"2010-08-18 17:05:36, 2010-11-25 17:45:31, 2011..."
2,9:0-0:0,0:0-0:0,9:0-22:0,8:0-22:0,6:0-22:0,6:0-22:0,6:0-22:0,615 S Main St,"{'BusinessParking': 'None', 'BusinessAcceptsCr...",CF33F8-E6oudUQ46HnavjQ,...,Ashland City,1,36.269593,-87.058943,Sonic Drive-In,37015,6,2.0,TN,"2012-12-16 05:27:33, 2013-02-15 04:00:46, 2013..."
3,10:0-18:0,0:0-0:0,10:0-18:0,12:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,"8522 Eager Road, Dierbergs Brentwood Point","{'BusinessAcceptsCreditCards': 'True', 'Restau...",n_0UpQx1hsNbnPUSlodU8w,...,Brentwood,1,38.627695,-90.340465,Famous Footwear,63144,13,2.5,MO,"2010-08-30 23:57:24, 2010-09-12 19:06:35, 2010..."
4,6:0-16:0,0:0-0:0,6:0-17:0,6:0-21:0,6:0-16:0,6:0-21:0,6:0-21:0,2312 Dickerson Pike,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...",bBDDEgkFA1Otx9Lfe7BZUQ,...,Nashville,1,36.208102,-86.768170,Sonic Drive-In,37207,10,1.5,TN,"2011-01-17 15:31:21, 2011-02-23 21:28:08, 2011..."

In [137]:
df_tip = df_tip[['business_id', 'compliment_count']]
df_tip.head(5)

              business_id  compliment_count
0  3uLgwr0qeCNMjKenHJwPGQ                 0
1  QoezRbYQncpRqyrLH6Iqjg                 0
2  MYoRNLb5chwjQe3c_k37Gg                 0
3  hV-bABTK-glh5wj31ps_Jw                 0
4  _uN0OudeJ3Zl_tf6nxg5ww                 0

In [138]:
df_business_merged = pd.merge(df_business_merged, df_tip, on='business_id')

In [139]:
print(len(df_business_merged))
df_business_merged.head(5)

595930

,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,address,attributes,business_id,...,is_open,latitude,longitude,name,postal_code,review_count,stars,state,date,compliment_count
0,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,...,0,32.223236,-110.880452,Target,85711,22,3.5,AZ,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0
1,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,...,0,32.223236,-110.880452,Target,85711,22,3.5,AZ,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0
2,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,...,0,32.223236,-110.880452,Target,85711,22,3.5,AZ,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0
3,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,...,0,32.223236,-110.880452,Target,85711,22,3.5,AZ,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0
4,8:0-23:0,8:0-22:0,8:0-23:0,8:0-22:0,8:0-22:0,8:0-22:0,8:0-22:0,5255 E Broadway Blvd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",tUFrWirKiKi_TAnsVWINQQ,...,0,32.223236,-110.880452,Target,85711,22,3.5,AZ,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0

In [140]:
df_business_merged = df_business_merged.dropna() # remove NaN rows
# df_business_merged.head(5)
len(df_business_merged)

595930