In [17]:
import pandas as pd
import expand_dataset

In [18]:
# df_business = pd.read_csv('./dataset/df_business.csv')
df_business = pd.read_csv('./dataset/df_business_dropped.csv')
df_checkin = pd.read_csv('./dataset/df_checkin.csv')
df_tip = pd.read_csv('./dataset/df_tip.csv')

C:\Users\giuli\AppData\Local\Temp/ipykernel_14092/1239649067.py:2: DtypeWarning: Columns (27,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_business = pd.read_csv('./dataset/df_business_dropped.csv')

In [19]:
print(len(df_business))
df_business.head(5)

150346

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,longitude,lot,name,postal_code,review_count,stars,state,street,valet,validated
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-119.711197,NaN,"Abby Rappoport, LAC, CMQ",93101,7,5.0,CA,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,-90.335695,NaN,The UPS Store,63123,15,3.0,MO,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,-110.880452,True,Target,85711,22,3.5,AZ,False,False,False
3,NaN,NaN,u'none',NaN,NaN,NaN,NaN,True,NaN,False,...,-75.155564,False,St Honore Pastries,19107,80,4.0,PA,True,False,False
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,-75.471659,True,Perkiomen Valley Brewery,18054,13,4.5,PA,NaN,False,NaN

In [20]:
# df_business = df_business.dropna() # da togliere

# re.sub("u"no"", "u-no", txt)
# x = re.findall('"BusinessParking": "{.*}"', txt)
# print("x", x)
#
# par = re.findall('"{.*}"', x[0])
# print("par", par)
#
# y = re.sub('{"', '{-"', par[0])
# print("y", y)
#
# z = re.sub('":', '"-:', y)
# print("z", z)
#
# p = re.sub('\s"', ' -"', z)
# print("p", p)
#
# test = txt.replace(par[0], p)
# print("test", test)

In [21]:
# df_business = df_business.apply(expand_dataset.expand_hours_feature, axis=1)
# df_business = df_business.drop(columns='hours')

In [22]:
# df_business = df_business.apply(expand_dataset.expand_attributes_feature, axis=1)
# df_business = df_business.drop(columns='attributes')

In [23]:
# df_business = df_business.apply(expand_dataset.expand_business_parking_feature, axis=1)
# df_business = df_business.drop(columns='BusinessParking')

In [24]:
# df_business.to_csv(r'C:\Users\giuli\Desktop\df_business_dropped.csv', index=False)
#
# df_business.head(5)

In [25]:
print(len(df_checkin))
df_checkin.head(5)

131930

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [26]:
print(len(df_tip))
df_tip.head(5)

908915

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [27]:
df_business_merged = pd.merge(df_business, df_checkin, on='business_id')

In [28]:
print(len(df_business_merged))
df_business_merged.head(5)

131930

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,lot,name,postal_code,review_count,stars,state,street,valet,validated,date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"Abby Rappoport, LAC, CMQ",93101,7,5.0,CA,NaN,NaN,NaN,2018-09-21 20:51:31
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,NaN,The UPS Store,63123,15,3.0,MO,NaN,NaN,NaN,"2011-12-12 23:30:26, 2014-05-23 20:31:34, 2014..."
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,True,Target,85711,22,3.5,AZ,False,False,False,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010..."
3,NaN,NaN,u'none',NaN,NaN,NaN,NaN,True,NaN,False,...,False,St Honore Pastries,19107,80,4.0,PA,True,False,False,"2010-08-18 17:05:36, 2010-11-25 17:45:31, 2011..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,True,Perkiomen Valley Brewery,18054,13,4.5,PA,NaN,False,NaN,"2019-06-28 21:35:09, 2019-09-12 21:07:48, 2019..."

In [29]:
df_tip = df_tip[['business_id', 'compliment_count']]
df_tip.head(5)

              business_id  compliment_count
0  3uLgwr0qeCNMjKenHJwPGQ                 0
1  QoezRbYQncpRqyrLH6Iqjg                 0
2  MYoRNLb5chwjQe3c_k37Gg                 0
3  hV-bABTK-glh5wj31ps_Jw                 0
4  _uN0OudeJ3Zl_tf6nxg5ww                 0

In [30]:
df_business_merged = pd.merge(df_business_merged, df_tip, on='business_id')

In [31]:
print(len(df_business_merged))
df_business_merged.head(5)

903105

,AcceptsInsurance,AgesAllowed,Alcohol,Ambience,BYOB,BYOBCorkage,BestNights,BikeParking,BusinessAcceptsBitcoin,BusinessAcceptsCreditCards,...,name,postal_code,review_count,stars,state,street,valet,validated,date,compliment_count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,...,The UPS Store,63123,15,3.0,MO,NaN,NaN,NaN,"2011-12-12 23:30:26, 2014-05-23 20:31:34, 2014...",0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,Target,85711,22,3.5,AZ,False,False,False,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,Target,85711,22,3.5,AZ,False,False,False,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,Target,85711,22,3.5,AZ,False,False,False,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True,...,Target,85711,22,3.5,AZ,False,False,False,"2010-07-25 04:30:06, 2010-08-31 04:07:22, 2010...",0

In [32]:
df_business_merged = df_business_merged.dropna() # remove NaN rows
# df_business_merged.head(5)
len(df_business_merged)

0